@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    position: fixed;
}

header {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
}

header img{
    width: 200px;
}

.container{
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.container .kanan{
    margin-left: 50px;
}



.kiri img{
    width: 650px;
}

.kanan{
    height: 200px;
    width: 500px;
    padding: 20px 20px;
    margin-top: 50px;
    color: #fff;
}

.kanan h1 {
    font-family: 'poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.kanan p{
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button{
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 2rem;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px hsl(257, 53%, 24%);
}

button:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
}

footer {
    text-align: right;
}

li{
    list-style: none;
    display: inline-block;
}

.fa-facebook-f {
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    border: 1px solid #fff;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    cursor: pointer;
}

.fa-twitter {
    font-size: 18px;
    color: white;
    margin: 0px 10px;
    border: 1px solid #fff;
    padding: 0.6em 0.6em;
    border-radius: 50%;
    cursor: pointer;
}

.fa-instagram {
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    border: 1px solid #fff;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    cursor: pointer;
}

/* HOVER */
.fa-facebook-f:hover {
    font-size: 20px;
    color: hsl(300, 69%, 71%);
    margin: 0px 10px;
    border: 1px solid hsl(300, 69%, 71%);
    padding: 0.5em 0.6em;
    border-radius: 50%;
    cursor: pointer;
}

.fa-twitter:hover {
    font-size: 20px;
    color: hsl(300, 69%, 71%);
    margin: 0px 10px;
    border: 1px solid hsl(300, 69%, 71%);
    padding: 0.5em 0.6em;
    border-radius: 50%;
    cursor: pointer;
}

.fa-instagram:hover {
    font-size: 20px;
    color: hsl(300, 69%, 71%);
    margin: 0px 10px;
    border: 1px solid hsl(300, 69%, 71%);
    padding: 0.5em 0.6em;
    border-radius: 50%;
    cursor: pointer;
}